@media screen and (min-width: 48em) {
    body {
        text-align: justify;
        background-color: rgb(238, 240, 239);
    }
}

html {
    scroll-behavior: smooth;
}

.row {
    margin: 0px !important;
}

.container-fluid {
    padding: 0px;
}


/* Jumbotron */

.jumbotron {
    border-bottom: rgb(10, 169, 243) 3px solid;
    background-color: rgb(39, 39, 39);
    color: rgb(216, 219, 218);
    height: 155px;
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 0px;
}

h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
    text-shadow: 2px 2px 2px rgb(11, 150, 214);
    font-size: 50px;
}

#searchBar {
    margin: 0px;
    padding: 0px;
}

#searchBar input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

input[type=text]:focus {
    outline: rgb(10, 169, 243);
}

#searchBtn {
    background-color: rgb(10, 169, 243);
    border: rgb(10, 169, 243);
}

.col-2 {
    padding: 0px;
    max-width: 190px !important;
}

#login,
#signUp {
    margin-left: 5px;
    margin-right: 5px !important;
    max-width: fit-content;
    border: rgb(10, 169, 243) 1px solid;
    color: rgb(39, 39, 39);
    font-weight: bold;
    background-color: rgb(216, 219, 218);
}


/* Sidebar Menu in Storage */

#storage {
    margin: 0px;
    background-color: rgb(238, 240, 239);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: rgb(10, 169, 243) 3px solid;
}

#menuTab {
    border-right: rgb(10, 169, 243) 2px solid;
    padding: 0px;
    /* background-color: rgb(39, 39, 39); */
    background-color: #9db4c7;
    width: 200px !important;
}

.sidebar {
    padding: 20px;
}

.sidebar .nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .nav-link {
    /* color: rgb(216, 219, 218); */
    color: rgb(39, 39, 39);
    font-family: Pristina;
    font-weight: 600;
    font-size: 22px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: rgb(238, 240, 239);
    border-color: #dee2e6 #dee2e6 #fff;
}


/* Upload, Delete, Rename, Sort Functionality in Storage */

#storageTab {
    padding: 0px;
    color: rgb(39, 39, 39);
    background-color: rgb(238, 240, 239);
}

#filesUpload {
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(238, 240, 239);
    padding: 15px 15px;
    border-bottom: rgb(10, 169, 243) 1px solid;
}

#uploadFile {
    border: rgb(10, 169, 243) 1px solid;
    background-color: rgb(39, 39, 39);
    color: #9db4c7;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.custom-file-label::after {
    border: rgb(10, 169, 243) 1px solid;
    color: rgb(39, 39, 39);
    font-weight: bold;
    background-color: rgb(216, 219, 218);
}

#delRenameTab {
    padding-left: 10px;
}

#deleteFile,
#renameFile,
#sortFile {
    margin-left: 5px;
    margin-right: 5px !important;
    max-width: fit-content;
    border: rgb(10, 169, 243) 1px solid;
    color: rgb(39, 39, 39);
    font-weight: bold;
    /* background-color: #6c757d; */
    background-color: #9db4c7;
}


/* Storage Area*/

#folders,
#documents,
#images,
#trash {
    padding-top: 20px;
}


/* Setting n Logout */

#settings {
    margin: 0px;
    background-color: rgb(238, 240, 239);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0px;
}

#percentage {
    margin: 0px;
    background-color: rgb(238, 240, 239);
    padding-left: 15px;
}

.progress-bar {
    width: 25%;
}

#logOut,
#account {
    margin-left: 5px;
    margin-right: 5px !important;
    max-width: fit-content;
    border: rgb(10, 169, 243) 1px solid;
    color: rgb(39, 39, 39);
    font-weight: bold;
    background-color: #9db4c7;
}

@media screen and (max-width: 768px) {
    .col-sm-3 {
        text-align: center;
        margin: 25px 0;
    }
}

@media screen and (max-width: 384px) {
    .col-sm-3 {
        text-align: right;
        margin: 25px 0;
    }
}

@media screen and (max-width: 192px) {
    .col-sm-3 {
        text-align: center;
        margin: 25px 0;
    }
}